{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Howdy Amigos. This is Harsh speaking</h1>
        <hr>
        <p>Ignore the UI for a while (nervous laugh) as this was made just for the sake of.......fun. Lol. But yeah
            you'll definitely find a better UI than this soon when I get free from work because......uhhh.....adulting,
            bills, taxes, tickets and stuffs. God, you know, you guys are smort.</p>
        <br />
        <p>Enough of my rants now...hehe. Let's talk fun.</p>
        <br />
        <p>Welcome to the online platform for TicTacToe where you can sign up with a new ID along with your friends and
            then send them invites to have a one on one match of TicTacToe with them. May the best person win. Enjoy
            guys.</p>
    </div>
</div>
{% endblock %}